
.card{
  font-family: 'Raleway', sans-serif;
  font-family: 'Tilt Warp', cursive;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 0px;
  
  padding: 20px;
  width: 250px;
  height: 450px;

  font-size: 18px;
  font-family: fantasy;
  text-align: center;
	transform: translateY(-3%);
  overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	cursor: default;

}
